[user]
	email = av@fun-box.ru
    name = Ilya Averyanov
[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
[diff]
	renamelimit = 0
[merge]
  summary = true
[alias]
    st = status
    ci = commit
    br = branch
    co = checkout
    df = diff
    lg = log -p

