[user]
	email = av@fun-box.ru
    name = av
[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
[diff]
	renamelimit = 0
[merge]
  summary = true
[alias]
    st = status
    ci = commit
    br = branch
    co = checkout
    df = diff
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[gitflow "branch"]
    master = master
    develop = develop
[gitflow "prefix"]
    feature = feature-
    release = release-
    hotfix = hotfix-
    support = support-
    versiontag = 

