[core]
    excludesfile = ~/.gitignore
    editor = nvim
[init]
	defaultBranch = main
[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
[diff]
	renamelimit = 0
[merge]
    summary = true
[alias]
    st = status
    ci = commit
    br = branch
    co = checkout
    df = diff
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    dd = -c diff.external=difft diff
    dl = -c diff.external=difft log --ext-diff
    dlp = -c diff.external=difft log -p --ext-diff
    ds = -c diff.external=difft show --ext-diff
    df = -c diff.external=difft diff
[include]
    path = .gitconfig.local
[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/usr/bin/gh auth git-credential
